.PaginationPage {
  padding: 3em 0 3em 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .PaginationTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}